body{
    background: rgb(0, 0, 0) ;
    font: normal 20px arial;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

section{
    background: rgb(136, 182, 132);
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.363);
}

div#pic{
    text-align: center;
    padding: 15px;
}

div#idade{
    text-align: center;
}

footer{
    color:rgb(21, 255, 0);
    text-align: center;
    font-style: italic;
}


